.login-container h3{
    color: #919090;
    margin-top: -7px;
}
.from-your{
    margin-top: -20px;
}
.login-facebook-btn{
    background-color: #0095f6;
}
.login-container h6{
    color: #919090;
    font-weight: normal;
}
.policy{
    margin-top: -20px;
}